.custom__btn {
  background-color: #ffc500 !important ;
  padding: 1px 10px !important ;
  border: 0 !important ;
  margin-top: 15px;
  min-width: 100px !important ;
  width: fit-content;
  font-size: 14px !important ;
  font-weight: 500 !important ;
  border-radius: 50px !important ;
  outline: none !important ;
  line-height: 25px !important ;
  display: flex;
}
.custom__btn .custom__btn__input {
  text-decoration: none !important ;
  background-color: #ffc500 !important ;
  border: none !important ;
  outline: none !important ;
}
.custom__btn > .custom__btn__container {
  color: #000 !important ;
  background: #fff !important ;
  border-radius: 50px !important ;
  height: 27px !important ;
  width: 27px !important ;
  line-height: 29px !important ;
  text-align: center !important ;
  display: flex !important ;
  align-items: center !important ;
  justify-content: center !important ;
}
.custom__btn .custom__btn__icon {
  font-size: 16px;
  padding: 10px;
}
.snackBar {
  justify-content: center;
  align-items: center;
  width: 100%;
}
