.main {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.btn {
  margin: 20px;
  background: linear-gradient(to right, #340b36, #c31432);
  padding: 15px;
  width: 180px;
  height: 50px;
  border: none;
  font-size: 1.3rem;
  color: white;
  position: relative;
  border-radius: 0 25px;
  cursor: pointer;
  transition: all 0.6s;
}
.btn:hover {
  border-radius: 25px 0;
  color: white;
}
/* css bwlow is not necessary */
.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #240b36, #c31432);
  width: 100%;
  height: 100%;
  filter: blur(22px);
  transform: scale(0.9, 0.8) translateX(20px);
  z-index: -1;
  opacity: 0;
  transition: all 0.6s;
}

.btn:hover::before {
  opacity: 1;
}
