@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Ranchers&display=swap');

.center {
  display: flex !important ;
  justify-content: center !important ;
  align-items: center !important ;
}

.box {
  width: 140px !important ;
  height: 140px !important ;
  position: relative !important ;
  margin: 0 20px !important ;
  flex-wrap: wrap !important ;
  margin: 10px 20px !important ;
}
.icon-box,
.inner-box {
  position: absolute !important ;
  width: 100% !important ;
  height: 100% !important ;
  color: white !important ;
  border-radius: 10px !important ;
  cursor: pointer !important ;
}

.box:hover .icon-box {
  transform: translateY(-23px) !important ;
}

.icon-box {
  align-items: center !important ;
  justify-content: center !important ;
  color: white !important ;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.082) !important ;
  transition: all 0.8s !important ;
  transition-delay: 0ms !important;
}
.inner-box {
  align-items: flex-end !important ;
  justify-content: center !important ;
  color: black !important;
  opacity: 0 !important ;
  transition-delay: 320ms !important;
}

.inner-box p {
  font-family: 'Berkshire Swash', cursive !important ;
  font-size: 1.2rem !important ;
  margin-bottom: 5px !important ;
}

.box:hover .inner-box {
  opacity: 1 !important ;
}
